
body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}


/** Typography **/
h1, h2, h3, h4, h5, h6, h7 {
	color: #003350;
	text-align: center;
}

h2 {
	margin-top: 90px;
	font-weight: 700;
	font-size: 40px;
}
h2.in-touch {margin-bottom: 70px;}

p {font-weight: 300; text-align: justify; line-height: 1.8em; margin-bottom: 30px;}

.extra-marg-btm {
	margin-bottom: 70px;
}
.centered-text {
	text-align: center;
}

/** Navigation menu **/
nav {display: inline-block;}
.navbar-default {
	background: inherit;
	border: none;
	margin-top: 50px;
}
.navbar-default .navbar-nav > li > a {
	padding: 13px 30px;
}
.navbar-default .navbar-nav > .active > a {
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
}
.dropdown-menu.horizontal-subnav {
    box-shadow: none;
    border: none;
    background: inherit;
}
.navbar.navbar-default {
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 30px;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 40px;
	width: 100%;
	position: absolute;
	left: -230px;
	right: 0;
}
.dropdown-menu > li {
    display: inline-block;
}
.dropdown-menu {
	min-width: 700px;
	background-color: inherit;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
    color: #3dafd5;
}


/** Search Select **/
span {
  display: inline-block;
  width: 20px;
  height: 20px;
}
#selectmenu  {
    padding: 0px 20px;
    height: 40px;
    border-color: #e0e0e0;
    box-shadow: none;
    border-width: 0 1px 0 0;
	border-radius: 0;
}
#search {
    padding: 4px 7px;
    border: none;
}
.search-wrap-inner {
    background: #fff;
    border: solid 1px #e0e0e0;
}
.search-wrap {
    background-color: #f7f7f7;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
}
#search-icon {
    position:relative;
}    
.search-icon-blog:before {
    /*content: "\f1a8"; 
    font-family: FontAwesome;*/
    left:-5px;
    position:absolute;
    top:3px;
    font-size: 18px;
    
 }
 .search-icon-blog {
	background: url(images/icon-blog.png) center no-repeat;
	vertical-align: middle;
	position: absolute;
	right: 4px;
 }
 .search-icon-portfolio:before {
    content: "\f0b1";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:3px;
    color: #677786;
 }
 .input-group-addon {
	 background: #fff;
	 border: none;
	 font-size: 18px;
 }
 .search-wrap .btn {font-size: 18px;}

 
/** Slider **/
.carousel-caption {
	bottom: 35%;
	text-align: left;
	right: 15%;
	left: 15%;
	text-shadow: none;
}
.carousel-caption h3 {
	font-size: 36px;
	color: #fff;
	text-shadow: none;
	text-align: left;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
	overflow: hidden;
}
button.slick-arrow:focus {
	outline: none;
}
img.slider-nav-btn {
	position: absolute;
	top: 25%;
	height: auto;
}
img.slide-left {
	left: 10%;
}
img.slide-right {
	right: 10%;
}

/** Service Carousel **/
.service-carousel p {
    padding: 2% 17%;
    text-align: center;
}
.service-carousel h3 {
	margin-top: 50px;
}
.slick-slide img {
	margin-top: 60px;
}
.slick-prev.slick-arrow, .slick-next.slick-arrow {
	position: absolute;
	top: 5%;
	z-index: 100;
	background: none;
	border: none;
	font-size: 172px;
	font-weight: 300;
	color: #e5e5e5;
}
.slick-prev.slick-arrow {
    left: 2%;
}
.slick-next.slick-arrow {
    right: 2%;
}
.slick-track {
    margin-bottom: 150px;
}

/** Forms **/
input[type=radio], input[type="checkbox"] {
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	vertical-align: middle;
}
.checkbox-inline, .radio-inline {
	margin-left: 5px;
	margin-bottom: 25px;
}
.form-control {font-size: 18px; padding: 22px; height: 64px;}
.form-group {
    margin-bottom: 30px;
}
.btn.form-control {
    padding: inherit;
    background-color: #26a6d1;
    color: #fff;
}
.btn.form-control:hover {
	background-color: #e5e5e5;
}


/* Structure */
.no-gutter [class*="-12"] {
	padding-left:0;
	padding-right:0;
}
img {max-width: 100%; height: auto;}
.header-top {
	min-height: 118px;
	padding-top: 20px;
	background: url(images/top-bg-bowed-wbk.png)center bottom no-repeat;
}
#logo {padding-top: 10px;}
.navigation-block {
	min-height: 200px;
	background: #f7f7f7;
	text-align: center;
	/*margin-left: -15px;
	margin-right: -15px;*/
}

.sub-footer {
    background: #003350;
    color: #fff;
    padding: 34px 0;
    font-size: 16px;
}

/** Footer **/
footer {
	border-top: solid 2px #f7f7f7;
	padding-top: 120px;	
}
.sub-footer a {
    color: #fff;
    text-decoration: underline;
    line-height: 1.1em;
}
.footer-form {display: block; margin-bottom: 60px;}

/** Social Media **/
.social-media {
    margin: 32px 0 155px;
}
.social-link {
	background-color: #c2c2c2;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 7px 15px;
	color: #fff;
	margin-right: 15px;
}
.social-link.fb-icon {padding: 7px 18px;}
.social-link:hover {
	background-color: #26a6d1;
	color: #fff;
}

@media (max-width: 980px) {
	.carousel-caption {
		bottom: 10%;
	}
}
@media (max-width: 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.row.header-top {
	    text-align: center;
	    background: #fff;
	}
	.search-wrap {
		margin: 20px 0;
	}
	#selectmenu {
		padding: 0 5px;
	}
	.dropdown-menu {
		min-width: 80px;
	}
	.dropdown-menu > li {
		display: block;
	}
	.navbar.navbar-default {
		border: none;
	}
	.navbar-toggle {
		float: none;
	}
	.navbar.navbar-default {
	    width: 90%;
	    box-sizing: border-box;
	    padding-bottom: 10px;
	}
	.container-fluid > .navbar-header {
		
	}
	.navbar-toggle {
	    min-width: 100px;
	    min-height: 50px;
	    text-align: center;
	}
	.navbar-toggle .icon-bar {
	    margin: 0 auto;
	}
	.navbar-default {margin-top: 30px;}
	.navigation-block {min-height: 100px;}
	.slider {display: none;}
	
}
@media (max-width: 512px) {
	.search-wrap {display: none;}
}